<footer class="mt-10 w-full py-5 bg-black border-t  border-gray-800 text-white flex justify-center items-center">
    <p>© 2026 Joel. Si ves un console.log olvidado, es patrimonio cultural.</p>
</footer>